@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
.body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 1000px;
  height: 100%;
  margin: -20px 0;
}
.h{
    height: 60px;
    color:white;
    display: flex;
    justify-content: center;
}
.dropdown{
  width: 90%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
input[type=url]{
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 1px 1px 3px #000;
}
.invite-btn{
  font-size: 11px;
  text-align: center;
  color: #0073CB;
  font-family: 'Play', sans-serif;

}
.leave-btn:hover{
  color: #0073CB;
}
.icon{
  display: inline;
}

main {
  flex: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 550px;
}

main > nav {
  width: 300px;
}

main > article {
  flex: auto;
}

main > aside {
  width: 300px;
}

footer {
  height: 59px;
}
/* Cards */
.teams-font{
  font-size: 40px;
  font-family: 'Thasadith', sans-serif;
  color: #FFFFFF;
}
.Team-card{
  border-radius: 6px;
  box-shadow:7px 7px 4px 1px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  font-family: Thasadith;
  width: 75%;
  margin: 0 auto;
}
.score{
  color: #FFFFFF;
  font-size: 25px;
}
.up-part{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.join-btn{
  border: none;
  color: white;
  width: 100px;
  background: #46497D;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-family: Thasadith;
  font-size: 12px;
  padding: 3px;
}
.player{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}
.player h6{
  font-size: 13px;
  align-self: flex-start;
}
/* Card 1 */
nav img{
  margin-top: 5px;
  border-radius: 6px;
  box-shadow:4px 4px 3px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
/* Card 2 */
aside img{
  margin-top: 5px;
  border-radius: 6px;
  box-shadow:4px 4px 3px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
/* Cards */
.gamelog{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
tab-size: 4;
line-height: inherit;
font-family: Nunito,sans-serif;
font-size: 16px;
user-select: none;
box-sizing: border-box;
border: 0 solid #e5e7eb;
background-color: white;
box-shadow:4px 4px 3px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
opacity: .7;
overflow: hidden;
border-radius: 1rem;
margin: 0 auto;
margin-top: 1.5rem;
width: 70%;
}

.card-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-line{
  display: flex;
}

article button{
  width: 110px;
  height: 80px;
  border: 1px solid #584d32;
  border-radius: 8px;
  background-color: #ffca7b;
}
button h3{
  border: 1px solid #ffdba6;
  background-color: #ffdba6;
  border-radius: 5px;
  font-family: 'Thasadith', sans-serif;
}
.clue{
  display: flex;
  justify-content: center;
}
.clue-btn{
  width: 100px;
  height: 40px;
  border: 1px solid #009B29;
  box-shadow: 1px 1px 3px #000;
  border-radius: 10px;
  background:#009B29; 
  color: black;
}

.clue-btn:hover{
  background:#00CC36; 
}

.input-clue{
  width: 20em;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 1px 1px 3px #000;
  padding: 10px;
}

.dropdown-container select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 1px 1px 3px #000;
  border-radius: 5px;
  padding: 2px 4px;
}