@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@700&display=swap');

body{
  /*background: #340330;*/
  background-image: url(cover.png);
  margin: 0 auto 0 auto;  
  width:100%; 
  height: 100%;
  text-align:center;
  margin: 20px 0px 20px 0px;  

}

.container{
  text-align: center;
}

.header{
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

p{
  /*margin-top:100px;*/
  margin-bottom:40px;
}

.btn{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: #46497D;
  color: #FFFFFF;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  font-size: 15px;
  font-family: Varela;
}

.btn:hover{
  background:#2CC06B; 
}

.box{
  background:#260023;
  opacity: 0.8;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  width:500px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #260023 1px solid; 
}
label{
  color:#FFFFFF;
}
.input{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 3px;
  width:250px;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}
.content{
  margin-top: -20px;
}

/* HomePage */


.account{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.rules{
  /*position: relative;
  margin: 5% 28%;
  padding: 10px;
  width: 600px;
  object-position: center top;*/
  margin-top: 150px;
  opacity: 0.75;
  color: #FFFFFF;
  font-size: 18px;
  background-color:#260023;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  border-radius: 6px;
}
/* Homepage */

/* CreateRoom */
.crroom{
  background-color:#260023;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  border-radius: 6px;
  line-height: 6.4em;
  margin-top: 6%;
  width: 100%;
  align-items: center;
  font-size: 18px;
}
.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  color: inherit;
}
.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}
.sr-only{
  -webkit-appearance: none;
}
li{
  display: inline;
  font-family: Varela;
}
/* CreateRoom*/

/* Account */
.accountpage{
  background-color: #46497D;
  padding: 16px;
}
/* /Account */

/* Game room */
.player{
  float: left;
}
.username{
  float: right;
}

.team {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 50px;
  grid-gap: 50px;

}

.dropbtn {
  background-color: #46497D;
  border-radius: 10px;
  color: white;
  padding: 10px;
  width: 100px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  color: #FFFFFF;
  background-color: purple;
  min-width: 200px;
  min-height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.gameroombtn{
  border-radius: 5px;
  background-color: #282c34;
  color: aliceblue;
  line-height: 20px;
  position: center;
}

.team{
  color: #FFFFFF;
}

.team1{
  background-color: #46497D;
}

.team2{
  background-color: #46497D;
}
.confirm{
  margin: auto;
  position: center;
}


/* /GameRoom*/

/* Game*/
header,
nav,
article,
aside,
footer {
    border: 1px solid #000;
}

.body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 1000px;
  height: 100%;
  margin: -20px 0;
  background-image: url(game2.jpg);
}

.h {
  height: 60px;
  color:white;
}

main {
  flex: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 550px;
}

main > nav {
  width: 300px;
}

main > article {
  flex: auto;
}

main > aside {
  width: 300px;
}

footer {
  height: 59px;
}
.Team1{
  border: none;
  width: 70%;
  height: 170px;
  color: #D4462A;
  background-color: #981414;
  border-radius: 6px;
  box-shadow:22px 22px 25px 22px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  font-family: Thasadith;
  margin: 30px;
}
nav img{
  border-radius: 6px;
  box-shadow: 0px 15px 10px 0px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  margin-left:-70px;
  margin-top: 5px;
}

nav h2{
  float: right;
  color:#FFFFFF;
  margin-top: 30px;
}

.player1 h6{
  font-size: 13px;
  margin-top: 20px;
  margin-left: -140px;
}
.Team2{
  border: none;
  width: 70%;
  height: 170px;
  color: #10B4E2;
  background-color: #0B7C9C;
  border-radius: 6px;
  box-shadow:22px 22px 25px 22px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  font-family: Thasadith;
  margin: 30px;
}
aside img{
  border-radius: 6px;
  box-shadow: 0px 15px 10px 0px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  margin-right: -70px;
  margin-top: 5px;
}
aside h2{
  float: left;
  color:#FFFFFF;
  margin-top: 30px;
}
.player2 h6{
  font-size: 13px;
  margin-top: 20px;
  margin-left: -140px;
}

.cards{
  display: flexbox;
  padding: 30px;
}

article button{
  width: 110px;
  height: 80px;
  border: 2px solid #352E1E;
  border-radius: 8px;
  background-color: #F9BB5F;
}
/* Game*/