@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@700&display=swap');

body{
  /*background: #340330;*/
  background-image: url(cover.png);
  margin: 0 auto 0 auto;  
  width:100%; 
  height: 100%;
  text-align:center;
  margin: 20px 0px 20px 0px;  

}

.container{
  text-align: center;
}

.header{
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

p{
  /*margin-top:100px;*/
  margin-bottom:40px;
}

.btn{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: #46497D;
  color: #FFFFFF;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  font-size: 15px;
  font-family: Varela;
}

.btn:hover{
  background:#2CC06B; 
}

.box{
  background:#260023;
  opacity: 0.8;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  width:500px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #260023 1px solid; 
}
label{
  color:#FFFFFF;
}
.input{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 3px;
  width:250px;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}
input:focus { 
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
  transition: box-shadow linear 0.3s;
}
.content{
  margin-top: -20px;
}

/* HomePage */


.account{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.rules{
  /*position: relative;
  margin: 5% 28%;
  padding: 10px;
  width: 600px;
  object-position: center top;*/
  margin-top: 150px;
  opacity: 0.75;
  color: #FFFFFF;
  font-size: 18px;
  background-color:#260023;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  border-radius: 6px;
}
/* Homepage */

/* CreateRoom */
.crroom{
  background-color:#260023;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  border-radius: 6px;
  line-height: 6.4em;
  margin-top: 6%;
  width: 100%;
  align-items: center;
  font-size: 18px;
}
.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  color: inherit;
}
.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}
.sr-only{
  -webkit-appearance: none;
}
li{
  display: inline;
  font-family: Varela;
}
/* CreateRoom*/

/* Account */
.accountpage{
  background-color: #46497D;
  padding: 16px;
}
/* Account */


/* Game*/
/*header,
nav,
article,
aside,
footer {
    border: 1px solid #000;
}*/

.body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 1000px;
  height: 100%;
  margin: -20px 0;
  background-image: url(bluedashed.jpg);
}

.h {
  height: 60px;
  color:white;
}

main {
  flex: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 550px;
}

main > nav {
  width: 300px;
}

main > article {
  flex: auto;
}

main > aside {
  width: 300px;
}

footer {
  height: 59px;
}
/* Card 1 */
.Team1{
  background-color: #981414;
  /*color: #D4462A;*/
  border-radius: 6px;
  box-shadow:22px 22px 25px 22px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  font-family: Thasadith;
  width: 70%;
  margin: 0 auto;
}

.up1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav img{
  margin-top: 5px;
  border-radius: 6px;
  box-shadow: 0px 15px 10px 0px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.score1{
  color: #FFFFFF;
}
.player1{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}
.player1 h6{
  font-size: 13px;
  align-self: flex-start;
  color: #D4462A;
}

/* Radio button */
.rad-label {
  display: flex;
  cursor: pointer;
}
.rad-text{
  margin-right: 10px;
}
.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 17px;
  height: 17px;
  border-radius: 100px;
  background: #46497D;
}

.rad-design::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.0);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}
/* Radio button */

/* Card 1 */

/* Card 2 */
.Team2{
  background-color: #0B7C9C;
  /*color: #10B4E2;*/
  border-radius: 6px;
  box-shadow:22px 22px 25px 22px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  font-family: Thasadith;
  width: 70%;
  margin: 0 auto;
}
.up2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
aside img{
  margin-top: 5px;
  border-radius: 6px;
  box-shadow: 0px 15px 10px 0px rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.score2{
  color: #FFFFFF;
}
.player2{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}
.player2 h6{
  font-size: 13px;
  align-self: flex-start;
  color: #10B4E2;
}
/* Card 2 */

article button{
  width: 110px;
  height: 80px;
  border: 2px solid #352E1E;
  border-radius: 8px;
  background-color: #F9BB5F;
}
/* Game*/