@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@700&display=swap');

body{
  background: #340330;
  /*background-image: url(main_page.jpg);
  background-repeat: no-repeat;*/
}



.container{
  text-align: center;
}

.header{
  /*font-family: Tulpen One;*/
  color: #FFFFFF;
  /*font-size: 200px;*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

p{
  margin-top:100px;
  margin-bottom:40px;
}

.btn{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  /*width: 150px;*/
  height: 37px;
  background: #46497D;
  color: #FFFFFF;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 17px;
  font-family: Varela;
}

/*
.containerlog{
  display: block;
  text-align: center;
  border: 5px solid #260023;
  background-color: #260023;
  border-radius: 7px;
  margin: 80px 400px;
} */

label{
  color:#FFFFFF;
}

form{
  margin: 0 auto;
  max-width: 250px;
}

input[type=text], input[type=password], input[type=email]{
  border-radius: 6px;
  border:0;
  padding: 3px 2px;
}